@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;0,800;1,400;1,800&display=swap");

:root {
  --max-width: 1200px;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./assets/images/pexels-rahul-pandit-2086748.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-box {
  width: 500px;
  height: 600px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 10px 60px;
  gap: 50px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
