@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;0,800;1,400;1,800&display=swap");

:root {
  --max-width: 1200px;
  --white: #ffffff;
  --grey: #808080;
  --primary: #53a8b6;
  --secondary: #79c2d0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/images/pexels-rahul-pandit-2086748.jpg");
  background-size: cover;
  background-position: center;
  color: var(--primary);
  position: relative;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-in .form-box,
.sign-up .form-box {
  width: 500px;
  height: 600px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 40px 10px 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sign-in .form-box {
  display: none;
}
.sign-up .form-box {
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
.input-group {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-group input {
  width: 100%;
  outline: none;
  padding: 14px 16px;
  height: 48px;
  border-radius: 7px;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--grey);
}

.input-group label {
  order: -1;
  padding-left: 16px;
  transition: all 0.3s ease-in;
  transform: translateY(33px);
  pointer-events: none;
  font-size: 16px;
  font-weight: 400;
  color: var(--grey);
  display: inline-block;
  width: fit-content;
}

input:focus + label,
input:valid + label {
  transform: translate(10px, 7px);
  font-size: 13px;
  padding-left: 0;
  /* background-color: rgba(0, 0, 0, 0.1); */
}

.error-msg {
  margin: auto;
  max-width: 300px;
  position: absolute;
  top: 70px;
  left: 0;
  font-size: 13px;
  line-height: 16px;
  color: #ff7777;
  display: none;
}

.forgot-text {
  margin: 0 20px;
}

.btn-container {
  display: flex;

  flex-direction: column;
  gap: 12px;
  margin: 50px auto;
}

.btn {
  padding: 10px 25px;
  border-radius: 7px;
  color: var(--white);
  font-weight: 700;
  font-size: 18px;
  background: var(--primary);
  transition: 0.3s ease;
  cursor: pointer;
  border: none;
  height: 52px;
}

a {
  text-decoration: none;
}

.btn:hover {
  background-color: var(--secondary);
}
